version: '3.8'

services:
  redis:
    image: redis:latest
    command: 'redis-server --requirepass "redis123"'
    volumes:
      - redis-data:/data
    ports:
      - "6380:6379"
    healthcheck:
      test: ["CMD-SHELL", "redis-cli -a redis123 ping | grep PONG"]
      interval: 30s
      timeout: 3s
      retries: 5
      start_period: 1s

  jaeger:
    image: jaegertracing/all-in-one:latest
    ports:
      # - "6831:6831/udp"   # jaeger-agent
      - "16686:16686"     # jaeger-query UI
      # - "14268:14268"     # jaeger-collector HTTP
    environment:
      - COLLECTOR_ZIPKIN_HTTP_PORT=9411

  consumers:
    build:
      context: ./consumer
      dockerfile: Dockerfile
      args:
        VERSION: 0.0.1
    ports:
      - "1234:8080"
    depends_on:
      redis:
        condition: service_healthy
    environment:
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - REDIS_PASSWORD=redis123
      - HEALTH_PORT=8080
      - JAEGER_HOST=jaeger
      - JAEGER_PORT=14268
      - CONCURRENCY=2
      - REDIS_STREAMS=events,logs,notifications

volumes:
  redis-data:
    driver: local