version: '3.8'

services:
  # Redis Server
  redis:
    image: redis:latest
    command: 'redis-server --requirepass "${REDIS_PASSWORD}"'
    volumes:
      - redis-data:/data
    ports:
      - "6380:6379"
    healthcheck:
      test: ["CMD-SHELL", "redis-cli -a ${REDIS_PASSWORD} ping | grep PONG"]
      interval: 30s
      timeout: 3s
      retries: 5
      start_period: 1s

  # RedisInsight - UI for Redis
  redis-insight:
    image: redislabs/redisinsight:latest
    volumes:
      - redisinsight-data:/data
    ports:
      - "${REDIS_INSIGHT_PORT}:5540"
    depends_on:
      redis:
        condition: service_healthy
    environment:
      - RI_REDIS_HOST=redis
      - RI_REDIS_PORT=6379
      - RI_REDIS_PASSWORD=${REDIS_PASSWORD}

  # Jaeger - Distributed Tracing
  jaeger:
    image: jaegertracing/all-in-one:latest
    ports:
      # - "6831:6831/udp"   # jaeger-agent
      - "16686:16686"     # jaeger-query UI
      # - "14268:14268"     # jaeger-collector HTTP
    environment:
      - COLLECTOR_ZIPKIN_HTTP_PORT=${COLLECTOR_ZIPKIN_HTTP_PORT}

  consumers:
    build:
      context: ./consumer
      dockerfile: Dockerfile
      args:
        VERSION: ${CONSUMER_VERSION}
    ports:
      - "1234:8080"
    depends_on:
      redis:
        condition: service_healthy
    environment:
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - REDIS_PASSWORD=${REDIS_PASSWORD}
      - HEALTH_PORT=8080
      - JAEGER_HOST=jaeger
      - JAEGER_PORT=14268
      - CONCURRENCY=2
      - REDIS_STREAMS=events,logs,notifications

volumes:
  redis-data:
    driver: local
  redisinsight-data:
    driver: local